.sidebar {
  width: 230px;
  background-color: var(--sidebar-bg);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  padding: 2rem 1rem;
  transition: transform 0.3s ease;
  z-index: 100;
}

.sidebar.closed {
  transform: translateX(-100%);
}

.sidebar.open {
  transform: translateX(0);
}

.menu-toggle {
  position: fixed;
  top: 1rem;
  left: 1rem;
  background: transparent;
  color: var(--text-color);
  border: none;
  padding: 0.5rem 0.7rem;
  border-radius: 6px;
  cursor: pointer;
  z-index: 110;
  font-size: 1.5rem;
}

.menu-toggle.active {
  background: var(--accent-color);
  color: var(--text-color);
}


.logo {
  color: var(--accent-color);
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav li {
  margin: 1rem 0;
}

nav a {
  text-decoration: none;
  color: var(--text-color);
  transition: var(--transition);
}

nav li.active a,
nav a:hover {
  color: var(--accent-color);
}
